body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #87d68d, #5aa860);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.google-button {
  margin: 20px 0;
}

#googleButton {
  background-color: #dd4b39;
}
#googleButton :hover {
  background-color: #c23321;
}

.container {
  max-width: 400px;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px;
}

.container h2 {
  color: #333333;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.container button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.container button:hover {
  background-color: #45a049;
}

.container .message {
  margin-top: 20px;
  color: #666666;
}

.container .message a {
  color: #4caf50;
  text-decoration: none;
}
